<% provide :title, '記事詳細' %>

<article class="container mx-auto py-8 ">
  <div class="flex justify-center mb-8">
    <%= image_tag '12322_color.png', class: "w-full max-w-[300px]  px-10 object-cover h-auto" %>
  </div>
  <h1 class="text-4xl text-center font-bold">
    <%= @article.title %>
  </h1>

  <p class="text-sm text-gray-500 text-center mt-2">
    投稿日時： <%= @article.created_at.strftime("%Y-%m %H:%M") %>
  </p>

  <p class="text-gray-700 text-left mt-4 max-w-2xl mx-auto leading-relaxed">
    <%= @article.body %>
  </p>

  <h2>コメント</h2>
  <% @article.comments.each do |comment|%>
    <p><%= comment.content %></p>
    <% if comment.id.present? %> 
      <span>><%= link_to 'コメントの削除', article_comment_path(@article.id, comment.id), data: { turbo_method: :delete, turbo_confirm: 'コメントを削除しますか？'} %></span>
    <% end %>
  <% end %>

  <%=  form_with model: [@article, @comment] do |f| %>
    <p>
      <%= f.text_area :content %>
    </p>
    
    <p>
      <%= f.submit 'コメントを投稿' %>
    </p>
  <% end %>

  <div class="text-center mt-6">
    <%= link_to '一覧に戻る', articles_path, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition" %>
  </div>
</article>