<h1 class="max-w-xl mx-auto text-2xl mt-4">プロフィール編集</h1>

<% if @user.errors.any? %>
  <div class="bg-red-100 text-red-700 p-4">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user) do |f| %>
<section class="max-w-xl mx-auto space-y-4">
  <div>
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: "w-full border" %>
  </div>

  <div>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, class: "w-full border" %>
  </div>

  <div>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: "w-full border" %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'パスワード再確認' %>
    <%= f.password_field :password_confirmation, class: "w-full border" %>
  </div>

  <div>
    <%= f.submit "更新", class: "bg-blue-500 py-2 px-4 rounded-lg text-white" %>
  </div>
</section>
<% end %>