<%= form_with(url: gemini_index_path, method: :post, data: { turbo: false }) do |form| %>
  <div class="w-full flex items-center space-x-4 justify-right my-8">
    <%= form.label :prompt, "質問を入力", class: "font-bold text-xl" %>
    <%= form.text_field :prompt, class: 'border block w-96 p-2 rounded-lg align-center' %>
  </div>
  
  <div>
    <%= form.submit "料理人に聞いていみる！" , class: "cursor-pointer inline-block text-center w-62 bg-blue-500 text-white px-6 py-2 my-4 rounded-md hover:bg-blue-600 transition"%>
  </div>
<% end %>


<div class="w-full mx-auto mt-6 border p-4">
  <%= sanitize(@html_content) %>
</div>
